doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image.bgTC(style="background:url(img/bg-klimat.jpg);")
            .content
                .middle
                    h1 Климат
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block3.jpg)")
                        .middle
                            h2 Климат Смоленска и области
                    article
                    .table-ons
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <i class="ico" style="background: url(img/ico-table5.png)"></i> 258 
                                        .title-desc Солнечных дней <br>в году
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <i class="ico" style="background: url(img/ico-table4.png)"></i> 600 <span class="min">мм</span>
                                        .title-desc Среднегодовой <br>уровень осадков
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title <i class="ico" style="background: url(img/ico-table3.png)"></i> -9
                                        .title-desc Дневная <br>температура января
                                            
                        .one
                            .one-block
                                .middle
                                    div.title <i class="ico" style="background: url(img/ico-table3.png)"></i> +17
                                        .title-desc Дневная <br>температура июля
                                            
                        .one
                            .one-block
                                .middle
                                    div.title  <i class="ico" style="background: url(img/ico-table2.png)"></i> 4 <span class="min">месяца</span>
                                        .title-desc Период снежного <br>покрова                                        
                        .one
                            .one-block
                                .middle
                                    div.title   <i class="ico" style="background: url(img/ico-table1.png)"></i> 5 <span class="min">месяцев</span>
                                        .title-desc Период посадки, <br>произрастания и уборки урожая
                    article
                        p Климат в Смоленской области умеренно-континентальный, характеризуется умеренно теплым летом (средняя температура июля - + 16-17°С) и умеренно холодной зимой (средняя температура января -8°С...-10°С). 
                        p Среднегодовые температуры колеблются от +3,5°С до +5°С. Годовая амплитуда среднемесячных температур 25-27°. Первая половина зимы теплее второй.
                        p Период с положительной температурой воздуха (среднесуточной) длится 213-224 дня. Средняя продолжительность безморозного периода 125-148 дней. Годовое количество осадков составляет 645-691 мм. Две трети осадков выпадает в виде дождя, одна треть в виде снега. Образование устойчивого снежного покрова происходит в начале декабря, разрушение в первой декаде апреля.
                        img(src="img/klimat-img-1.jpg")
                        img(src="img/klimat-img2.jpg")
                        
        include include/footer.jade
    
                    


                        