doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background:url(img/home-n.jpg)")
            .content
                .middle
                    h1 Численность населения Смоленска<br>и Смоленской области
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block3.jpg)")
                        .middle
                            h2 Климат Смоленска и области
                    article
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                    .table-ons.non-line
                    
                        .one
                            .one-block
                                .middle
                                    div.title 959 088 
                                        .title-desc Численность <br>населения области
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title  <span class="big">328 906</span>
                                        .title-desc Численность <br>населения г. Смоленска
                                        
                    .table-ons.non-line
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title 72%
                                        .title-desc Городское <br>нселение
                                            
                        .one
                            .one-block
                                .middle
                                    div.title 19,4 <span class="min">чел/км2<span>
                                        .title-desc Плотность <br>населения региона


                        
        include include/footer.jade
    
                    


                        