doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/prom.jpg)")
            .content
                .middle
                    h1 Промышленность
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block7.jpg)")
                        .middle
                            h2 Промышленность
                    article
                        p   — Занято около <b>¼</b> всего трудоспособного населения <br>— Около 30% ВРП <br>— Около 30% налоговых поступлений
                        h2 Промышленные центры
                        .gerb-block
                            .gerb
                                img(src="img/smolensk.png")
                                span.title Смоленск
                            .gerb
                                img(src="img/desnogorsk.png")
                                span.title Десногорск
                        h2 Промышленные районы
                        p.min-top <b>более 90%</b> всего объёма промышленного производства области
                        p — Вяземский <br>— Гагаринский <br>— Дорогобужский <br>— Сафоновский <br>— Рославльский <br>— Ярцевский
                        h2 Крупнейшие отрасли промышленности
                        p — Ювелирная промышленность <br>— Пищевая промышленность <br>— Химическая промышленность <br>— Машиностроение <br>— Электроэнергетика

                        .display-image-block
                            .image-block.image-block-2(style="background: url(prom/1.png)")
                                .image-txt-block
                                    .title-desk ПАО «Дорогобуж»
                                    
                            .image-block.image-block-2(style="background: url(prom/2.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «ПО «Кристалл»
                                                                   
                            .image-block.image-block-2(style="background: url(prom/3.jpg)")
                                .image-txt-block
                                    .title-desk АО «Рославльский <br>вагоноремонтный завод»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/4.jpg)")
                                .image-txt-block
                                    .title-desk АО «Смоленский <br>авиационный завод»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/5.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Авангард» <br>(г. Сафоново)   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/6.jpg)")
                                .image-txt-block
                                    .title-desk ФГУП СПО «Аналитприбор»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/7.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Ситалл»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/8.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Измеритель»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/9.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Вяземский <br>машиностроительный завод»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/10.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Измеритель»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/11.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «Первомайский <br>стеклозавод»   
                                                                   
                            .image-block.image-block-2(style="background: url(prom/12.jpg)")
                                .image-txt-block
                                    .title-desk ОАО «ОСРАМ» (г. Смоленск)   
                                    
                     


                                            

                  
        include include/footer.jade
                    


                        