doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image(style="background: url(img/les.jpg)")
            .content
                .middle
                    h1 Природные ресурсы
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block5.jpg)")
                        .middle
                            h2 Природные ресурсы 
                    article
                    .table-ons
                    
                        .one
                            .one-block
                                .middle
                                    div.title Лесная
                                        .title-desc Природная зона 
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title 1900
                                        .title-desc Месторождения <br>полезных ископаемых 
                        
                    
                        .one
                            .one-block
                                .middle
                                    div.title 56
                                        .title-desc Месторождения <br>пресных подземных вод 
                                            
                        .one
                            .one-block
                                .middle
                                    div.title 12
                                        .title-desc Месторождения <br>минеральных вод
                                        
                    article
                        h2 Минеральные ресурсы
                        p 321,9 млрд. рублей потенциальная ценность извлекаемых запасов и прогнозных ресурсов полезных ископаемых 
                        p 1900 Месторождения полезных ископаемых 
                        p Область располагает значительными запасами полезных ископаемых. Добываются: бурый уголь, глины, песчано-гравийные материалы, карбонатные породы для производства извести, торф, сапропель и др. Открыты и широко используются запасы сульфатно-кальциево-магниевых минеральных вод. 
                        p Месторождения минерального сырья относятся к каменноугольным отложениям (бурый уголь, огнеупорная глина, строительные камни и карбонатные породы), к меловым отложениям (цементное сырье, фосфоритовые руды и гипсовый камень) и к отложениям четвертичного комплекса (торф, сапропель, легкоплавкие суглинки и глины, песчано-гравийный материал, пески, известковый туф).
                        p Минеральная база строительных материалов представлена легкоплавкими суглинками и глинами для производства керамического кирпича, керамзитового гравия и дренажных труб (керамическое и керамзитовое сырье), силикатными и строительными песками, песчано-гравийным материалом, породами для производства извести, щебня, строительного камня и гипса. В структуре добычи (кроме гидроминерального сырья) основная доля приходится на песчано-гравийный материал (92,3 %).
                        p По объему добычи песчано-гравийного материала Смоленская область занимает одно из первых мест в Центральном федеральном округе РФ (25 % от суммарного объема добычи на территории ЦФО).
                        p Пресные подземные воды, которые являются единственным источником хозяйственно-питьевого водоснабжения населения, эксплуатируются достаточно интенсивно. Кроме того, они используются для технологического обеспечения водой промышленных и сельскохозяйственных объектов. Ведется добыча минеральных подземных вод, используемых для промышленного бутилирования, а также сапропелевых грязей для бальнеологических целей. 
                        .display-image-block
                            .image-block(style="background: url(img/glina.jpg)")
                                .image-txt-block
                                    .title Глина
                                    .title-desk 64 474 <i>тыс. м3</i> 
                            .image-block(style="background: url(img/ekskov.jpg)")
                                .image-txt-block
                                    .title Песок
                                    .title-desk 49 052 <i>тыс. м3</i>                    
                            .image-block.big-block(style="background: url(img/grav.jpg)")
                                .image-txt-block
                                    .title Гравий
                                    .title-desk 370 656 <i>тыс. тонн</i> 
                        h2 Горючие полезные ископаемые
                        .display-image-block
                            .image-block(style="background: url(img/tracktr.jpg)")
                                .image-txt-block
                                    .title Торф
                                    .title-desk 303 255 <i>тыс. тонн</i>                             
                            .image-block(style="background: url(img/ugol.jpg)")
                                .image-txt-block
                                    .title Бурый уголь 
                                    .title-desk 359 906  <i> тыс. тонн</i> 
                        h2 Лесные ресурсы
                        p <b>41%</b> территории занимают леса<br> <b>2121,6 тыс. га</b> общая площадь земель лесного фонда  <br><b>308,6 млн. куб. м</b> общий запас древесины на корню
                        p Смоленская область расположена в зоне смешанных лесов (осина, берёза, ольха, ель). По возрастной структуре насаждения гослесфонда распределились следующим образом: молодняки - 256 тыс. га или 27,8%, средневозрастные - 428 тыс. га или 46,6%, приспевающие - 137 тыс. га или 14,9%, спелые и перестойные - 99 тыс. га или 10,8%. Средний возраст насаждений - 40 лет. Леса области характеризуются преобладанием молодняков и средневозрастных насаждений. Значительные площади занимают берёзовые и осиновые насаждения, поэтому большая часть территории лесов относится к невысокому классу пожарной опасности. 
                        h2 Водные ресурсы
                        p <b>56 месторождений</b> пресных подземных вод <br><b>12 месторождений</b> минеральных вод <br><b>1149</b> рек <br><b>160</b> озёр <br><b>4</b> водохранилища
                        p Основная река - Днепр с притоками: Сож, Десна, Вопь, Вязьма. На Северо-Западе области - озёра ледникового происхождения (Каспля, Свадицкое, Велисто и др.). 
                        p Запасы водных ресурсов области превышают 14 км3/год. Общий забор воды для использования в области составляет 250-270 млн. м3/год, из них половина - из подземных источников, в том числе для хозяйственно-питьевых нужд - около 80 млн. м3/ год. 


                                            

                  
        include include/footer.jade
                    


                        