doctype html
html
  head
    include include/head.jade
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700italic,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  body
    include include/header.jade      
    div.wrapper
        section.administraiton--home--image.bgTC(style="background:url(img/securiti-bg.jpg);")
            .content
                .middle
                    h1 Безопасность
        section.administraiton--home--section
            .content
                include include/ad-sub-menu.jade
                .right--block
                    .title--block(style="background: url(img/bg-title-block2.jpg)")
                        .middle
                            h2 Безопасность
                    article
                        p Смоленская область, в современном понимании, образована <b>27 сентября 1937 года.</b> В настоящий момент входит в состав Центрального федерального округа.
                        p В 2015 году Смоленская область заняла 1 место по раскрываемости преступлений тяжких и особо тяжких против личности по ЦФО.  Раскрываемость этой категории преступлений составила 99,5 %.
                        p Что касается квартирных краж, то в настоящее время раскрывается 76 % таких преступлений. 
                        p Что касается квартирных краж, то в настоящее время раскрывается 76 % таких преступлений. 
                        p За первое полугодие 2016 года в Смоленской области зафиксировано снижение числа правонарушений, связанных с взяточничеством, по сравнению с 2015 годом.  У региона третий результат по России - отмечено снижение на  50%, соответственно 35 против 71 преступления.
                        p На территории области отмечается тенденция к снижению уровня подростковой преступности. В январе-июне 2016 года количество преступлений, совершенных подростками и при их соучастии, уменьшилось на 28,2%, со 156 до 112 преступлений. Также на 28,7% снизилось и количество несовершеннолетних, совершивших преступления. 
                        p В первом полугодии 2016 года с помощью органов прокуратуры возвращено более 116 миллионов рублей незаконно задержанных средств.
                        p Более 2 тысяч нарушений выявлено в сфере защиты прав предпринимателей. Около 400 лиц привлечены к дисциплинарной и административной ответственности.
                        p Выявлено лиц, совершивших преступления <b>1389 чел.</b>
                        p Выявлено лиц, совершивших экономические преступления <b>48 чел.</b>
                    

        include include/footer.jade
                    


                        