.left-block#left-sub-menu
    .title-block#title-block1.active
        a.ico 
            .middle <i></i>
        h4 О регионе
    ul#sub-1
        li.active: a Административно-территориальное устройство
        li: a Безопасность
        li: a Климат
        li: a Население
        li: a Природные ресурсы
        li: a Справка о регионе
        li: a Транспорт и логистика
        li: a Туристический потенциал
    .title-block#title-block2
        a.ico 
            .middle <i></i>
        h4 Отрасли
    ul#sub-2
        li.active: a Административно-территориальное устройство
        li: a Безопасность
        li: a Климат
        li: a Население
        li: a Природные ресурсы
        li: a Справка о регионе
        li: a Транспорт и логистика
        li: a Туристический потенциал
     .title-block#title-block3
        a.ico 
            .middle <i></i>
        h4 Регион для жизни
    ul#sub-3
        li.active: a Административно-территориальное устройство
        li: a Безопасность
        li: a Климат
        li: a Население
        li: a Природные ресурсы
        li: a Справка о регионе
        li: a Транспорт и логистика
        li: a Туристический потенциал
    .title-block#title-block4
        a.ico 
            .middle <i></i>
        h4 Социально-экономические показатели
    ul#sub-4
        li.active: a Административно-территориальное устройство
        li: a Безопасность
        li: a Климат
        li: a Население
        li: a Природные ресурсы
        li: a Справка о регионе
        li: a Транспорт и логистика
        li: a Туристический потенциал