doctype html
html(lang="en")
    head
        include include/head.jade
    body
        header
            .content
                .header--logo--block
                    .middle
                        a.logo
                .header--nav--block
                    .middle
                        .flag--block
                            a.flag.brit.active
                            a.flag    
                        nav
                            a About compamy
                            a How it works
                            a What we offer
                            a Contacts
        .wrap
            section.home
                .phbg
                .home--table--txt 
                    .middle
                        h1 Easy benefits with your free WiFi 
                        .salam Find out more
            section.about
                .content
                    .about--one--txt
                        article.middle
                            h2 About company
                            p SPOT IN WIFI helps your business to improve your free WiFi network, whether it a bar, restaurant, nightclub or any place with sticker in the window, saying “Free WiFi here”. Communicate with your customers, collect valuable data and know opinion of your clients.
                    .about--one--txt.txt-image
                        article.bottom
                            img(src="img/about.png")
            section.works
                .content
                    .middle
                        h2 How it works
                        .work--table--block
                            .woork--one.one
                                i.work--ico(style=" background: url(img/br1.svg);")
                                p Client connects to free WIFI in any of our partner locations.
                            .woork--one.one
                                i.work--ico(style=" background: url(img/br2.svg);")
                                p First, client sees a welcome location page with "accept and continue" button that should be pressed for WIFI access. 
                            .woork--one
                                i.work--ico(style=" background: url(img/br3.svg);")
                                p After that, client faces an advertisement for about 6-9 seconds. And at this moment brand ads get 100% viewability and engagement with the audience. A good ratio, isn't it?
            section.projects
                .content
                    .middle
                        h2 What we offer
                        .about--one--txt
                            article.one
                                h3 PARTNERSHIP
                                p Extend the possibilities of your Wi-Fi network. Interact with your guests in a new way. Invite your guests to different events, promote daily menu and get feedback about your establishment/service/food. Bring your business to a new level!
                                a.button join Spot In Wifi
                        .about--one--txt
                            article.two
                                h3 ADVERTISING
                                p Promote your brand through an innovative mobile advertising channel. Engage with customers in a new way, increase sales and loyalty, while other are only thinking about this.<br><br> 
                                a.button learn more
            section.contacts
                .content
                    .contact--one--txt
                        form.middle
                            h2 Application form
                            .inp--block
                                .select-block
                                    select
                                        option(value="Subject of your message") Subject of your message
                                        option(value="Partnership") Partnership
                                        option(value="Advertinsing") Advertinsing
                                        option(value="Technical support") Technical support
                                        option(value="Other") Other
                            .inp--block
                                input(placeholder="Your Name")  
                            .inp--block
                                input(placeholder="Phone number")                           
                            .inp--block
                                input(placeholder="City")  
                            .inp--block
                                textarea Your message
                            .button Send form
                                    
                    .contact--one--txt.txt-imge            
                        article.bottom
                            img(src="img/contact.png")
            footer 
                .content
                    .middle
                        a.phone(href="tel:0507308141") Phone: <span>050 730 81 41</span>
                        a.mail(href="mail:spotinwifi@gmail.com") Mail: <span>spotinwifi@gmail.com</span>
                            
                            
                            
                            
                            